<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027652403171-nge9qknhib87qjha6fug6n8m4ep0itfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027652403171-nge9qknhib87qjha6fug6n8m4ep0itfj</string>
	<key>API_KEY</key>
	<string>AIzaSyCuzNVYC540VN_gfiGclLb3X1ow71zRQak</string>
	<key>GCM_SENDER_ID</key>
	<string>1027652403171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-a9049</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-a9049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027652403171:ios:5db0709b0c060b11842ad6</string>
</dict>
</plist>